You will receive a csv file called “personal data.csv” from us. 
The file contains information of persons:
- Column 1: the person's national register number
- Column 2: the surname of the person
- Column 3: the first name of the person

A national number has the following format: 
- 3 times 2 digits separated by a dot; this is the date of birth of the person in the form yy.mm.dd (first two digits are the 2 last digits of the year of birth, then a dot, then two digits corresponding to the month of birth, then a dot and then two more digits corresponding to the day of birth)
- A dash “-”
- Three digits: this is serial number to distinguish persons born on the same day; women get an even serial number, men an odd serial number
- One dot
- Two digits that act as a control number; how this control is done is not important for this statement
A woman born on July 28, 1994 might have the following national registry number: 
94.07.28-124.89.
We wish to create an application to create an overview of the number of births per day of the week. In this overview, the days of the week are represented by their English names, i.e., from “Monday” to “Sunday.”
In the following, add the necessary pieces of code.

Read the file “personal_data.csv” into a panda Dataframe named “data”

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

data = pd.read_csv('personal_data.csv')

Check that this is done correctly by showing some of the first rows.

In [6]:
print(data.head())

  rijksregisternummer;naam;voornaam
0      94.07.25-124.89;Lemmens;Elke
1      96.99.11-133.71;Janssens;Jef
2     02.122.12-122.32;Elen;Marieke
3  99.07.01-005.56;Hendriks;Hendrik
4     93.07.25-1248.89;Lemmens;Elke

Change the national register numbers that do not meet the correct format (for now, consider only good format : 2 digits.2 digits.2 digits-3 digits.2 digits) by None.
Display the first rows again to verify that this was successful.

In [ ]:
data['national register number'] = data['national register number'].apply(lambda x: None if len(x.split('.')) != 4 or len(x.split('-')[0]) != 6 else x)

print(data.head())

Change the registry numbers whose first 8 characters do not match a date by None.
Display the first rows again to verify that this was successful.

In [ ]:
data['national register number'] = data['national register number'].apply(lambda x: None if not x[:8].replace('.','').isdigit() or not datetime.strptime(x[:8], '%y.%m.%d').date().strftime('%Y-%m-%d') else x)

Delete the rows in the data frame in which the value None appears in one of the columns.
Display the first rows again to verify that this was successful.

In [ ]:
data = data.dropna(how='any')

print(data.head())

Modify the dataframe by adding a column named “date of birth” representing the date of birth as a datetime object.
Display the first rows again to verify that this was successful.

In [ ]:
data['date of birth'] = data['national register number'].apply(lambda x: None if x is None else datetime.strptime(x[:8], '%y.%m.%d').date())

Modify the data frame by adding a column named “day” that represents the day in the week that the person was born; the days are the English names for the days.
Display the first rows again to verify that this was successful.

In [ ]:
data['day'] = data['date of birth'].apply(lambda x: None if x is None else x.strftime('%A'))

print(data.head())

Run next piece of code.

In [ ]:
births_per_day = data.groupby('day')['national register number'].count()

Show a visual overview in the form of a histogram of the number of births by day of the week.

In [ ]:
plt.figure(figsize=(10, 5))
births_per_day.plot(kind='bar')
plt.xlabel('Day of the Week')
plt.ylabel('Number of Births')
plt.title('Births per Day of the Week')
plt.show()